---
version: "3"
services:
  dnscrypt-proxy:
    build: dockerfiles/dnscrypt-proxy
    image: bdossantos/dnscrypt-proxy
    container_name: dnscrypt-proxy
  php-lol73:
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.7.3
    image: bdossantos/php-lol
    container_name: php-lol73
  php-lol74:
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.7.4
    image: bdossantos/php-lol
    container_name: php-lol74
  privoxy:
    build: dockerfiles/privoxy
    image: bdossantos/privoxy
    container_name: privoxy
  radicale:
    build: dockerfiles/radicale
    image: bdossantos/radicale
    container_name: radicale
  thumbor:
    build: dockerfiles/thumbor
    image: bdossantos/thumbor
    container_name: thumbor
  tor:
    build: dockerfiles/tor
    image: bdossantos/tor
    container_name: tor
  twemproxy:
    build: dockerfiles/twemproxy
    image: bdossantos/twemproxy
    container_name: twemproxy
  python-github-backup:
    build: dockerfiles/python-github-backup
    image: bdossantos/python-github-backup
    container_name: python-github-backup
  gcsfuse:
    build: dockerfiles/gcsfuse
    image: bdossantos/gcsfuse
    container_name: gcsfuse
