---
version: "3"
services:
  dnscrypt-proxy: &default
    build:
      context: dockerfiles/dnscrypt-proxy
      args:
        BUILD_DATE: ${BUILD_DATE}
        VCS_REF: ${VCS_REF}
    image: bdossantos/dnscrypt-proxy
    container_name: dnscrypt-proxy
  paperless-ngx:
    <<: *default
    build:
      context: dockerfiles/paperless-ngx
      dockerfile: Dockerfile
    image: bdossantos/paperless-ngx
    container_name: paperless-ngx
  php-lol81:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.8.1
    image: bdossantos/php-lol
    container_name: php-lol81
  php-lol82:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.8.2
    image: bdossantos/php-lol
    container_name: php-lol82
  php-lol83:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.8.3
    image: bdossantos/php-lol
    container_name: php-lol83
  php-lol84:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.8.4
    image: bdossantos/php-lol
    container_name: php-lol84
  privoxy:
    <<: *default
    build:
      context: dockerfiles/privoxy
    image: bdossantos/privoxy
    container_name: privoxy
  pingdom-exporter:
    <<: *default
    build:
      context: dockerfiles/pingdom-exporter
    image: bdossantos/pingdom-exporter
    container_name: pingdom-exporter
  pint:
    <<: *default
    build:
      context: dockerfiles/pint
    image: bdossantos/pint
    container_name: pint
  radicale:
    <<: *default
    build:
      context: dockerfiles/radicale
    image: bdossantos/radicale
    container_name: radicale
  resec:
    <<: *default
    build:
      context: dockerfiles/resec
    image: bdossantos/resec
    container_name: resec
  thumbor:
    <<: *default
    build:
      context: dockerfiles/thumbor
    image: bdossantos/thumbor
    container_name: thumbor
  tor:
    <<: *default
    build:
      context: dockerfiles/tor
    image: bdossantos/tor
    container_name: tor
  twemproxy:
    <<: *default
    build:
      context: dockerfiles/twemproxy
    image: bdossantos/twemproxy
    container_name: twemproxy
  python-github-backup:
    <<: *default
    build:
      context: dockerfiles/python-github-backup
    image: bdossantos/python-github-backup
    container_name: python-github-backup
  anki:
    <<: *default
    build:
      context: dockerfiles/anki
    image: bdossantos/anki
    container_name: anki
