---
version: "3"
services:
  dnscrypt-proxy: &default
    build:
      context: dockerfiles/dnscrypt-proxy
      args:
        BUILD_DATE: ${BUILD_DATE}
        VCS_REF: ${VCS_REF}
    image: bdossantos/dnscrypt-proxy
    container_name: dnscrypt-proxy
  php-lol73:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.7.3
    image: bdossantos/php-lol
    container_name: php-lol73
  php-lol74:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.7.4
    image: bdossantos/php-lol
    container_name: php-lol74
  php-lol80:
    <<: *default
    build:
      context: dockerfiles/php-lol
      dockerfile: Dockerfile.8.0
    image: bdossantos/php-lol
    container_name: php-lol80
  privoxy:
    <<: *default
    build:
      context: dockerfiles/privoxy
    image: bdossantos/privoxy
    container_name: privoxy
  radicale:
    <<: *default
    build:
      context: dockerfiles/radicale
    image: bdossantos/radicale
    container_name: radicale
  thumbor:
    <<: *default
    build:
      context: dockerfiles/thumbor
    image: bdossantos/thumbor
    container_name: thumbor
  tor:
    <<: *default
    build:
      context: dockerfiles/tor
    image: bdossantos/tor
    container_name: tor
  twemproxy:
    <<: *default
    build:
      context: dockerfiles/twemproxy
    image: bdossantos/twemproxy
    container_name: twemproxy
  python-github-backup:
    <<: *default
    build:
      context: dockerfiles/python-github-backup
    image: bdossantos/python-github-backup
    container_name: python-github-backup
  gcsfuse:
    <<: *default
    build:
      context: dockerfiles/gcsfuse
    image: bdossantos/gcsfuse
    container_name: gcsfuse
