block_ipv6 = false
block_unqualified = true
cache = true
cache_max_ttl = 86400
cache_min_ttl = 3600
cache_neg_ttl = 60
cache_size = 16000
cert_refresh_delay = 240
daemonize = false
dnscrypt_ephemeral_keys = false
dnscrypt_servers = true
doh_servers = true
fallback_resolver = '1.0.0.1:53'
force_tcp = false
ignore_system_dns = true
ipv4_servers = true
ipv6_servers = false
keepalive = 20
lb_strategy = 'p2'
listen_addresses = ['0.0.0.0:53']
max_clients = 1024
netprobe_address = '1.1.1.1:53'
netprobe_timeout = 30
require_dnssec = false
require_nofilter = true
require_nolog = true
timeout = 3000
tls_cipher_suite = [52392, 49199]
tls_disable_session_tickets = false

[query_log]
  file = "/dev/null"
  format = "tsv"

[blacklist]
  blacklist_file = '/etc/dnscrypt-proxy-blacklist.txt'
  log_file = '/dev/null'

[sources]
  [sources.'public-resolvers']
  urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v2/public-resolvers.md', 'https://download.dnscrypt.info/resolvers-list/v2/public-resolvers.md']
  cache_file = '/dev/shm/public-resolvers.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  prefix = ''

  [sources.'relays']
  urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v2/relays.md', 'https://download.dnscrypt.info/resolvers-list/v2/relays.md']
  cache_file = '/dev/shm/relays.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  refresh_delay = 72
  prefix = ''

[broken_implementations]

# Cisco servers currently cannot handle queries larger than 1472 bytes, and don't
# truncate reponses larger than questions as expected by the DNSCrypt protocol.
# This prevents large responses from being received, and breaks relaying.
# A workaround for the first issue will be applied to servers in list below.
# Do not change that list until the bugs are fixed server-side.

broken_query_padding = ['cisco', 'cisco-ipv6', 'cisco-familyshield']

[schedules]
  [schedules.'time-to-sleep']
  mon = [{after='23:00', before='7:00'}]
  tue = [{after='23:00', before='7:00'}]
  wed = [{after='23:00', before='7:00'}]
  thu = [{after='23:00', before='7:00'}]
  fri = [{after='00:00', before='7:00'}]
  sat = [{after='00:00', before='7:00'}]
  sun = [{after='23:00', before='7:00'}]
  [schedules.'work']
  mon = [{after='9:00', before='18:00'}]
  tue = [{after='9:00', before='18:00'}]
  wed = [{after='9:00', before='18:00'}]
  thu = [{after='9:00', before='18:00'}]
  fri = [{after='9:00', before='17:00'}]
